.button {
  text-align: center;
  font-weight: 700;
  background-color: #fff;
  border: none;
  font-size: 16px;
  line-height: 16px;
  padding: 14px 22px;
  border-radius: 100px;
  cursor:pointer;
  &.primaryColored {
    background-color: #c3dce3;
  }

  &.secondaryColored {
    background-color: var(--secondaryBG);
  }
}