.sectionWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button {
  text-align: center;
  font-weight: 700;
  background-color: #fff;
  border: none;
  font-size: 16px;
  line-height: 16px;
  padding: 14px 22px;
  border-radius: 100px;

  &.primaryColored {
    background-color: #c3dce3;
  }

  &.secondaryColored {
    background-color: var(--secondaryBG);
  }
}
button.primaryColored{
  background-color: #c3dce3;
}
.secondaryColored {
  color: var(--secondary);
}
.primaryColored {
  color: var(--primary);
}
.Content {
  width: min-content;
  .ContentText {
    > * {
      margin-bottom: 30px;
    }
  }
  .ContentHeader {
    font-family: Dela Gothic One;
    font-size: 48px;
    line-height: 100%;
    width: 480px;
    &.mainHeader {
      font-size: 56px;
      line-height: 120%;
    }
  }
  .ContentSubtitle {
    width: 85%;
    font-weight: 600;
    color: var(--secondaryText);
    font-size: 18px;
    line-height: 140%;
  }
}


.about {
  padding: 95px 10px;
  overflow: hidden;

  .primaryColored {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 24px;
  }
  .ContentText {
    .ContentHeader {
      width: 515px;
    }
  }
  button.primaryColored {
    margin-bottom: 48px;
  }

  .aboutImg {
    background: url("./assets/chel.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
    width: 660px;
    min-width: 250px;
    height: 545px;

    .aboutFlowerImg {
      background: url("./assets/flower.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      display: block;
      position: relative;
      left: 55%;
      width: 80%;
      height: 571px;
    }
  }
  
}
.statsWrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: min-content;
  align-items: center;

  .stats {
    font-family: Dela Gothic One;
    display: flex;
    font-size: 40px;
    line-height: 100%;
    margin-bottom: 3px;

    &::before {
      content: url("./assets/lightning.svg");
      display: inline-block;
      width: 24px;
      height: 30px;
      padding-right: 10px;
      position: relative;
      bottom: 5px;
    }
    &::after {
      content: "+";
      font-family: inherit;
      color: var(--primary);
    }
  }
  .StatsSubtitle {
    font-weight: 600;
    line-height: 140%;  
    color: #585858;
  }
}
.learn {
  padding: 77px 10px;

  .sectionWrapper {
    align-items: center;
    justify-content: space-between;

    .learnImg {
      background: url("./assets/girlWithBook.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: 550px;
      height: 445px;
    }
  }
  .ContentHeader {
    width: 500px;
  }
  .buttonsWrapper {
    display: flex;
    gap: 21px;
  }
}
.customButton {
  border-radius: 14px;
  width: 129px;
  height: 112px;
  line-height: 140px;
}
.customButton.primaryColored {
  position: relative;
  width: 172px;
}
.textbook {
  padding: 25px 10px 0;

  .textbookImg {
    background: url("./assets/schoolgirl.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
    right: 30px;
    width: 400px;
    height: 440px;
  }
}

.statistic {
  padding: 95px 10px;
  .statisticImg {
    background: url("./assets/students.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 680px;
    height: 410px;
  }
}
